h4{
    color: hotpink;
}

#uniq{
    color: chartreuse;
}

.list-2{
    color: darkorange;
}

.text{
    text-transform: uppercase;
}

.group .list-4{
    color: deeppink;
}

ul :nth-child(5){
    color: deepskyblue;
}

[color="green"]{
    color: green;
}

body > p{
    color: brown;
}

a:link{
    color: midnightblue;
}

a ~ p{
    color: blueviolet;
}